<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>京东商城</title>
	<link rel="stylesheet" href="assets/css/reset.css">
	<link rel="stylesheet" href="assets/css/xpyui.css">
	<link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
	<div class="wrapper">
		<!--头部广告大图-->
		<div class="first-head-title"></div>
		<!--登录注册导航栏-->
		<div class="second-head-title">
			<div class="lala clearfix"></div>
		</div>
		<!--搜索购物车秒杀导航栏-->
		<div class="third-head-title"></div>
		<!--头部所有的类型选择-->
		<div class="all-type-select"></div>
		<!--京东秒杀-->
		<div class="jd-second-kill"></div>
		<!--享生活-->
		<div class="enjoy-quality"></div>
	</div>
	<!--滚动页面到一定距离出现搜索框-->
	<div class="search-inner-hold">
		<div class="search-inner-content">
			<div class="search-inner-logo"></div>
			<div class="search-inner"></div>
		</div>
	</div>
</body>                          

<script type="text/javascript" src="/assets/js/lib/require.js"></script>
<script>
	require(['/assets/js/lib/jquery.js'],function(){
		require(['/assets/js/lib/config.js'],function(){
			require(['/xpyAssembly/js/jquery.xpyAssembly.1.0.js'],function(){
				require(['/assets/js/index/index.js'],function(app){
					app.init();
				})
			})			
		})
	})
</script>
</html>