<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>京东商城</title>
	<link rel="stylesheet" href="assets/css/reset.css">
	<link rel="stylesheet" href="assets/css/xpyui.css">
	<link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
	<div class="wrapper">
		<!--头部广告大图-->
		<div class="first-head-title"></div>
		<!--登录注册导航栏-->
		<div class="second-head-title">
			<div class="lala clearfix"></div>	
		</div>
		<!--搜索购物车秒杀导航栏-->
		<div class="third-head-title"></div>
		<!--头部所有的类型选择-->
		<div class="all-type-select"></div>
		<!--京东秒杀-->
		<div class="jd-second-kill">
			<div class="jd-second-kill-hold clearfix">
				<div class="jd-second-kill-head">
					<div class="left-corner-icon"></div>
					<div class="kill-title">
						<div class="left-watch-icon"></div>
						<h3 class="jd-second-kill-text">京东秒杀</h3>
						<a class="low-price-text" href="#">总有你想不到的低价
						 	<i class="forward-icon"></i>
						</a>
					</div>
					<div class="second-kill-time">
						<span class="now-time">当前场次</span>
						<div class="time-hold clearfix">
							<div class="time time-hours">00</div>
							<div class="time-dot">
								<i class="dot"></i>
								<i class="dot"></i>
							</div>
							<div class="time time-minute">59</div>
							<div class="time-dot">
								<i class="dot"></i>
								<i class="dot"></i>
							</div>
							<div class="time time-seconds">28</div>
						</div>
						<span class="now-time">后结束抢购</span>
					</div>
				</div>
				<div class="jd-second-kill-content clearfix">
					<div class="second-kill-content-left"></div>
					<div class="second-kill-content-right"></div>
				</div>
			</div>
		</div>
	</div>
</body>                          

<script type="text/javascript" src="/assets/js/lib/require.js"></script>
<script>
	require(['/assets/js/lib/jquery.js'],function(){
		require(['/assets/js/lib/config.js'],function(){
			require(['/assets/js/lib/jquery.carousel.1.0.js'],function(){
				require(['/assets/js/index/index.js'],function(app){
					app.init();
				})
			})			
		})
	})
</script>
</html>